
@media screen and (width>1440px) {
    .box0{
        display: block;
    }
    h2{
        text-align: center;
    }
}
@media screen and (width<=1440px ) and (width>=1024px) {
    .box1{
        display: block;
    }
    h2,h4{
        text-align: center;
    }
}
@media screen and (width<=1024px ) and (width>=768px) {
    .box2{
        display: block;
    }
    h2,h4{
        text-align: center;
    }
}
@media screen and (width<=768px ) and (width>=425px) {
    .box3{
        display: block;
    }
    h2,h4{
        text-align: center;
    }
}
@media screen and (width<=425px ){
    .box4{
        display: block;
    }
    h2,h4{
        text-align: center;
    }
}